.card-body, .card-header {
    background: rgb(186, 167, 70);

}

.boton, .btn-lg{
    background-color: rgb(115, 115, 165) !important;
    padding: 5px;
    margin: 20px;
    border-radius: 10px;
    
}
.bg-info{
    margin-top: 100px;
}

.bg-light{
    display: block;
    margin: 0px;
}